<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Apps</title>
  <link  href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" href="../styles/main.css" />
</head>
<body>
  <a href="#restaurant-list" class="skip-link">Menuju ke konten</a>
    <header class="header">
      <div class="header__inner">
        <h1 class="header__title">Hunger Apps</h1>
        <button id="menu" class="header__menu">☰</button>
      </div>
      <nav id="drawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="/">Home</a></li>
          <li class="nav__item"><a href="#">favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/siti-sifatul-uyun-5b53692b7/">About us</a></li>
        </ul>
      </nav>
    </header>

<main>
  <h1 id="main-content">Restaurant Apps Starter Project</h1>
  <img src="../images/heros/hero-image_2.jpg" class="hero-image" alt="Foto restoran" />

  <div id="restaurant-list"></div>
</main>

<footer>
  <p>SITI SIFATUL UYUN; 2024 - Hunger Apps</p>
</footer>


</body>
</html>
